/4.jpg
/all_superpixels.png
/comparison_diagram1.png
/comparison_diagram2.png
/polar_diagram1.png
/polar_diagram2.png
/recognition_result1.png
/recognition_result2.png
/superpixels_compact_4.json
/superpixels_full_4.json
/superpixels_full_4_vectorized.json
/superpixels_full_4_vectorized.png
/UPD_quiver2_4.jpg
/UPD_quiver_4.jpg
